<md-card layout-align="center center" class="main-content">
  <button md-raised-button (click)="gotoHotels()">
    <i class="material-icons">dashboard</i> Terug naar overzicht
  </button>

  <div *ngIf="hotel">
    <h2>{{ hotel.name }}</h2>

    <div layout="row">
      <div flex="20">
        <img src="{{hotel.imageUrl}}" alt="{{hotel.imageAlt}}"/>
      </div>
      <div>
        <sebm-google-map [latitude]="7.809007" [longitude]="7.809007">
          <sebm-google-map-marker [latitude]="7.809007" [longitude]="7.809007">
          </sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>

</md-card>


