<div class="main-content">
  <md-toolbar color="accent">Bookings</md-toolbar>

  <md-card *ngFor="let booking of bookings | async | paginate: {itemsPerPage: 3, currentPage:page, id:'1'}"
           class="register-card">
    <img class="img-box" md-card-image src="assets/hotel.jpg">
    <md-card-title class="title">{{booking.name}}</md-card-title>
    <md-card-content class="hotel-info-left">
      <p>Booking ID:</p>
      <p>City:</p>
      <p>Travelers:</p>
      <p>Price:</p>
    </md-card-content>
    <md-card-content class="hotel-info-right">
      <p id="booking.id">{{booking.id}}</p>
      <p id="booking.city">{{booking.hotel.city}}</p>
      <p id="booking.numberOfTravellers">{{booking.numberOfTravellers}}</p>
      <p id="booking.price">{{booking.price}}</p>
    </md-card-content>

    <div class="dots"></div>

    <div class="hotel-info-checkout">
      <p class="check"><b>Check-out</b></p>
      <p id="booking.checkout">{{booking.endDate}}</p>
    </div>
    <div class="hotel-info-checkin">
      <p class="check"><b>Check-in</b></p>
      <p id="booking.checkin">{{booking.startDate}}</p>
    </div>

  </md-card>

  <pagination-controls (pageChange)="page = $event" id="1"
                       maxSize="5"
                       directionLinks="true"
                       autoHide="true">
  </pagination-controls>
</div>
