<div class="main-content">
  <md-toolbar color="accent">Bookings</md-toolbar>

  <md-card *ngFor="let booking of bookings | paginate: {itemsPerPage: 3, currentPage:page, id: '1'}"
           class="booking-card">
    <img class="img-box" md-card-image src="assets/hotel.jpg">
    <md-card-title class="title">{{booking.name}}</md-card-title>
    <md-card-content class="hotel-info-left">
      <p>Booking ID:</p>
      <p>City:</p>
      <p>Travelers:</p>
      <p>Rooms:</p>
    </md-card-content>
    <md-card-content class="hotel-info-right">
      <p>{{booking.id}}</p>
      <p>{{booking.city}}</p>
      <p>{{booking.travelers}}</p>
      <p>{{booking.rooms}}</p>
    </md-card-content>

    <div class="dots"></div>

    <div class="hotel-info-checkout">
      <p class="check"><b>Check-out</b></p>
      <p>{{booking.checkOut}}</p>
    </div>
    <div class="hotel-info-checkin">
      <p class="check"><b>Check-in</b></p>
      <p>{{booking.checkIn}}</p>
    </div>

  </md-card>

  <pagination-controls (pageChange)="page = $event" id="1"
                       maxSize="5"
                       directionLinks="true"
                       autoHide="true">
  </pagination-controls>

</div>
