<div class="main-content">
  <md-toolbar color="accent">Bookings</md-toolbar>

  <md-card *ngFor="let booking of bookings" layout-align="center center" class="card">
    <md-card-header>
      <md-card-title class="title">{{booking.name}}</md-card-title>
      <md-card-subtitle>{{booking.adres}}</md-card-subtitle>
    </md-card-header>
    <img class="img-box" md-card-image src="assets/hotel.jpg">
    <md-card-content class="content">
      <div class="left">
        <p>Booking ID:</p>
        <p>Info:</p>
      </div>

      <div class="middle">
        <p>{{booking.id}}</p>
        <p>{{booking.info}}</p>
      </div>
    </md-card-content>
  </md-card>
</div>
