.img-box {
  object-fit: cover;
  width: 150px;
  height: 150px;
  padding-left: 30px;
  padding-top: 24px;
  float: left;
}

.booking-card {
  margin-top: 18px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  layout-align: "center center";
}

.title {
  font-size: 25px;
}

.hotel-info-left {
  float: left;
  text-align: right;
  margin-left: 50px;
  font-size: 15px;
}

.hotel-info-right {
  float: left;
  text-align: left;
  font-size: 15px;
  width: 15%;
  border-width: 1px;
  border-right: dotted #2196f3;
}

.hotel-info-checkin {
  float: right;
  text-align: center;
  font-size: 1.4em;
}

.hotel-info-checkout {
  float: right;
  text-align: center;
  font-size: 1.4em;
}

.title {
  font-size: 1.7em;
  margin-left: 200px;
}

p {
  margin: 10px;
  padding: 0;
}

.check {
  border-bottom: medium dotted #2196f3;
}

pagination-controls:hover {
  cursor: pointer;
  cursor: hand;
}
