.img-box {
  object-fit: cover;
  width: 150px;
  height: 150px;
  padding-left: 30px;
  padding-top: 24px;
  float: left;
}

.content {
  float: left;
  padding-left: 40px;
  padding-top: 15px;
  font-size: 15px;
  line-height: 25px;
  width: 500px;
}

.booking-card {
  margin-top: 18px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  layout-align: "center center";
}

.title {
  font-size: 25px;
}

.hotel-info-left {
  float: left;
  text-align: right;
  margin-left: 50px;
  font-size: 15px;
}

.hotel-info-right {
  float: left;
  text-align: left;
  font-size: 15px;
  width: 327px;
  border-right: thick dotted #2196f3;
}

.hotel-info-checkin {
  float: left;
  text-align: center;
  font-size: 23px;
  margin-left: 150px;
}

.hotel-info-checkout {
  float: left;
  text-align: center;
  font-size: 23px;
  margin-left: 50px;
}

.title {
  font-size: 30px;
  margin-left: 200px;
}

p {
  margin: 10px;
  padding: 0;
}

.check {
  border-bottom: medium dotted #2196f3;
}
