<md-card layout-align="center center" class="register-card basic">
  <md-toolbar id="login-title" class="login-toolbar" color="accent">Login</md-toolbar>
  <md-card-content>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h4>Email</h4>
      <md-input id="email"  formControlName='email' class="full-width" placeholder="email"></md-input>
      <h4>Password</h4>
      <md-input id ="password" formControlName='password' type="password" class="full-width" placeholder="wachtwoord"></md-input>
    <br>
    <div class="center">
      <button id="login-button" type="submit" md-raised-button [disabled]="!loginForm.valid" color="primary">Login</button>
    </div>
    </form>

    <div layout="row" layout-align="start center" flex>
      <span flex></span>
      <p class="register-link" routerLink="/register" routerLinkActive="register">Heb je nog geen account? Registreer hier</p>
    </div>

  </md-card-content>
</md-card>
