<div class="main-content">
  <md-toolbar color="accent">Mijn Profiel</md-toolbar>


  <md-card class="profile-card">
    <md-card-title id="profile-title">Hello, {{user.firstName}} {{user.lastName}}</md-card-title>
    <img class="img" src="assets/user.png">
    <md-card-content class="hotel-info-left">
      <p>Birth date:</p>
      <p>Postal code:</p>
      <p>Adres:</p>
      <p>City:</p>
      <p>Telephone:</p>
    </md-card-content>
    <md-card-content class="hotel-info-right">
      <p>{{user.birthDate}}</p>
      <p>{{user.postalCode}}</p>
      <p>{{user.address}}</p>
      <p>{{user.city}}</p>
      <p>{{user.phoneNumber}}</p>
    </md-card-content>

    <button routerLink="/bookings" routerLinkActive="bookings" style="width:170px" class="button" type="submit"
            md-raised-button color="primary">Mijn boekingen
    </button>
    <br><br><br>
    <button routerLink="/edit-my-profile" routerLinkActive="edit-my-profile" style="width:170px" class="button"
            type="submit"
            md-raised-button color="primary">Mijn profiel bewerken
    </button>
    <br><br><br>
    <button routerLink="/edit-my-password" routerLinkActive="edit-my-password" style="width:170px" class="button"
            type="submit"
            md-raised-button color="primary">Wachtwoord wijzigen
    </button>
    <br><br><br>
    <button id="logout-button" style="width:170px" class="button"
            (click)="logout()"
            md-raised-button color="primary">Uitloggen
    </button>
  </md-card>

</div>
