<div class="main-content">
  <md-toolbar>Het weer in {{hotel.city}}</md-toolbar>
  <md-list>
    <md-list-item id="weather.description">Omschrijving: {{description}}</md-list-item>
    <md-list-item id="weather.temperature">Temperatuur: {{temperature}} <md-icon>wb_sunny</md-icon></md-list-item>
    <md-list-item id="weather.humidity">Luchtvochtigheid: {{humidity}} <md-icon>opacity</md-icon></md-list-item>
    <md-list-item id="weather.windspeed">Windsnelheid: {{windspeed}} <md-icon>explore</md-icon></md-list-item>
  </md-list>
</div>
