<div class="main-content">
  <md-toolbar color="accent">Boek Hotel</md-toolbar>

  <md-card class="book-hotel-card">

    <md-card-title>Henann Resort</md-card-title>
    <md-card-subtitle><b>Reiziger: {{user.firstName}} {{user.lastName}}</b></md-card-subtitle>

    <div class="checkin-date">
      <p><b>Check-in</b></p>
      <material-datepicker [(rangeStart)]="range" [(date)]="startDate"></material-datepicker>
    </div>

    <div class="checkout-date">
      <p><b>Check-out</b></p>
      <material-datepicker [(rangeStart)]="range" disableCurrentDay="true" [(date)]="endDate"></material-datepicker>
    </div>

    <md-card-content class="card-list">
      <p><b>Alle reizigers</b></p>
      <md-list class="traveler-list" dense>
        <md-list-item>
          <md-icon class="main-traveler">account_circle</md-icon>
          {{user.firstName}} {{user.lastName}}
        </md-list-item>
        <md-list-item *ngFor="let traveler of travelers">
          <md-icon (click)="removeTraveler(traveler)" class="delete">delete</md-icon>
          {{traveler.firstName}} {{traveler.lastName}}
        </md-list-item>
      </md-list>
    </md-card-content>
    <button class="book-button" (click)="createBooking()" type="submit" md-raised-button color="primary">
      Boeking afronden
    </button>
  </md-card>

  <md-card class="new-traveler">
    <md-card-title>Een reiziger toevoegen</md-card-title>
    <form [formGroup]="addTravelerForm" (ngSubmit)="pushTraveler()">
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Email</b></p>
            <md-input formControlName='email' placeholder=""
                      style="width: 100%"></md-input>
          </td>
        </tr>
      </table>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Voornaam</b></p>
            <md-input formControlName='firstName' placeholder=""
                      style="width: 100%"></md-input>
          </td>
          <td>
            <p><b>Achternaam</b></p>
            <md-input formControlName='lastName' placeholder="" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <p><b>Geboortedatum</b></p>
      <ng2-datepicker #ng2datepicker formControlName='birthDate'></ng2-datepicker>
      <br><br>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Postcode</b></p>
            <md-input formControlName='postalCode' placeholder=""
                      style="width: 100%"></md-input>
          </td>
          <td>
            <p><b>Adres</b></p>
            <md-input formControlName='address' placeholder="" style="width: 100%"></md-input>
          </td>
          <td>
            <p><b>Stad</b></p>
            <md-input formControlName='city' placeholder="" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Telefoon nummer</b></p>
            <md-input formControlName='phoneNumber' placeholder=""
                      style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <br>
      <button
        type="submit" (click)="ng2datepicker.clearInput()" [disabled]="!addTravelerForm.valid" md-raised-button
        color="primary">
        Voeg toe
      </button>
    </form>
  </md-card>
</div>
