<div class="main-content">
  <md-toolbar color="accent">Boek Hotel</md-toolbar>

  <md-card class="book-hotel-card">

    <md-card-title>Henann Resort</md-card-title>
    <md-card-subtitle><b>Reiziger: John Doe</b></md-card-subtitle>

    <div class="checkin-date">
      <p><b>Check-in</b></p>
      <material-datepicker [(date)]="startDate"></material-datepicker>
    </div>

    <div class="checkout-date">
      <p><b>Check-out</b></p>
      <material-datepicker disableCurrentDay="true" [(date)]="endDate"></material-datepicker>
    </div>

    <md-card-content class="traveler-list">
      <p><b>Reizigers</b></p>
      <div>
        <select class="select" size="3">
          <option>Zairon Jacobs</option>
          <option>In Progess</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
          <option>Completed</option>
        </select>
      </div>
      <button type="submit" md-raised-button color="primary">
        Verwijder geselecteerde
      </button>
      <br><br><br><br><br>
      <button (click)="createBooking()" ype="submit" md-raised-button color="primary">
        Boeking afronden
      </button>

    </md-card-content>

  </md-card>

  <md-card class="new-traveler">
    <md-card-title>Een reiziger toevoegen</md-card-title>
    <form [formGroup]="addTravelerForm" (ngSubmit)="pushTraveler()">
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Email</b></p>
            <md-input formControlName='email' placeholder=""
                      style="width: 100%"></md-input>
          </td>
        </tr>
      </table>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Voornaam</b></p>
            <md-input formControlName='firstName' placeholder=""
                      style="width: 100%"></md-input>
          </td>
          <td>
            <p><b>Achternaame</b></p>
            <md-input formControlName='lastName' placeholder="" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <p><b>Geboortedatum</b></p>
      <ng2-datepicker formControlName='birthDate'></ng2-datepicker>
      <br><br>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Postcode</b></p>
            <md-input formControlName='postalCode' placeholder=""
                      style="width: 100%"></md-input>
          </td>
          <td>
            <p><b>Adres</b></p>
            <md-input formControlName='address' placeholder="" style="width: 100%"></md-input>
          </td>
          <td>
            <p><b>Stad</b></p>
            <md-input formControlName='city' placeholder="" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p><b>Telefoon nummer</b></p>
            <md-input formControlName='phoneNumber' placeholder=""
                      style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <br>
      <button
        type="submit" [disabled]="!addTravelerForm.valid" md-raised-button color="primary">
        Voeg toe
      </button>
    </form>
  </md-card>
</div>
