.book-hotel-card {
  margin-top: 18px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  layout-align: "center center";
  padding-top: 19px;
  padding-bottom: 25px;
  position: relative;
}

.checkin-date {
  float: left;
  margin-right: 25px;
}

.checkout-date {
  float: left;
}

.title {
  font-size: 1.7em;
  margin-left: 200px;
}

p {
  margin: 10px;
  padding: 0;
}

.new-traveler {
  margin-top: 25px;
  width: 50%;
}

button {
  width: 185px;
  text-align: center;
}

md-input.ng-invalid {
  color: red;
}

md-input.ng-valid {

}

.error {
  font-size: 14px;
  color: red;
}

.main-traveler {
  margin-right: 10px;
}

.delete {
  margin-right: 10px;
  cursor: pointer;
}

.delete:hover {
  color: dodgerblue;
}

.delete:active {
  color: red;
}

.card-list {
  float: right;
  font-size: 18px;
text-align: center;
  overflow: auto;
}

.traveler-list {
  font-size: 18px;
  text-align: left;
  overflow: auto;
  height: 300px;
  width: 200px;
  box-shadow: 2px 2px 5px #888888;
}

.book-button {
  right: 0;
  bottom: 0;
  position: absolute;
  margin-bottom: 30px;
  margin-right: 25px;
}
