<div class="main-content">
  <md-toolbar color="accent">Hotels</md-toolbar>
  <div style="flex-direction: column">
    <!--TODO: Icon IN THE FIELD! Nu is die niet goed gealigned-->
    <md-icon>search</md-icon>
    <md-input class="search-bar" #query (keyup)="0" placeholder="Zoek een hotel">
    </md-input>
  </div>
  <md-grid-list cols="3" gutterSize="25px">
    <md-grid-tile *ngFor="let hotel of hotels | async | hotelPipe:query.value" (click)="onSelect(hotel)"
                  [attr.id]="'hotel.' + hotel.id" class="is-hotel">

      <md-card layout>
        <md-card-title>{{hotel.name}}</md-card-title>
        <img md-card-image src="{{hotel.imageLocation}}">
        <md-card-content>
          {{hotel.description}}
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
