<md-sidenav-layout fullscreen>
  <md-sidenav #start>
    <md-toolbar>Navigate to</md-toolbar>
    <md-nav-list>
      <a *ngFor="let navItem of navItems"
         md-list-item
         (click)="start.close()"
         [routerLink]="[navItem.route]">
        <md-icon>{{ navItem.icon }}</md-icon> &nbsp;
        {{navItem.name}}
      </a>

      <hr>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>

  <div>

    <md-toolbar color="primary">

      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24">menu</md-icon>
      </button>

      <div class="app-toolbar-menu" layout="row" layout-align="start center" flex>
        <h3 class="register-link" routerLink="" routerLinkActive="active"> {{title}} </h3>
        <span flex></span>
        <button class="app-icon-button">
          <i class="material-icons app-toolbar-menu">account_circle</i>
        </button>
        <h3 class="register-link" routerLink="/login" routerLinkActive="active">Login or register</h3>
      </div>
    </md-toolbar>

    <div #root="$implicit" dir="ltr">
      <router-outlet></router-outlet>
    </div>

  </div>
</md-sidenav-layout>
