<button routerLink="/my-profile" routerLinkActive="my-profile" type="submit" md-raised-button>
  <i class="material-icons">dashboard</i> Terug naar mijn profiel
</button>

<md-card layout-align="center center" class="edit-password-card  basic">
  <md-toolbar color="accent">Wachtwoord wijzigen</md-toolbar>
  <md-card-content>
    <form>
      <h4>Huidig wachtwoord</h4>
      <p>
        <md-input (ngModel)="password" class="full-width" placeholder=""
                  value=""></md-input>
      </p>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <h4>Nieuw wachtwoord</h4>
          <md-input (ngModel)="newPassword" placeholder=""
                    style="width: 100%"></md-input>
          <h4>Nieuw wachtwoord herhalen</h4>
          <md-input (ngModel)="repeatPassword" placeholder=""
                    style="width: 100%"></md-input>
        </tr>
      </table>
    </form>
    <br><br>
    <div layout="row" layout-align="start center" flex>
      <span flex></span>
      <button (click)="testGet()" class="centered" md-raised-button color="primary">Bewerken</button>
    </div>
  </md-card-content>
</md-card>

