/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
body {
  height:100%;
}
.main-content{
  margin-top:1%;
  margin-bottom:1%;
  width:65%;
  margin-left:auto;
  margin-right:auto;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
.is-link:hover {
  cursor:pointer;
}
/*test purposed*/
.is-hotel:hover {
  cursor:pointer;
}

.sebm-google-map-container {
  height: 250px;
  width:100%;
}
.search-bar {
  padding-top:1%;
  padding-botom:1%;
}
.image-container {
  margin:0 auto;
  align-content: center;
  justify-content: center;
}
.with-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hotel-card {
  padding:10px;
}
