<md-card layout-align="center center" class="book-hotel-card basic">
  <md-toolbar color="accent">Register</md-toolbar>
  <md-card-content>
    <form>
      <h4>Email</h4>
      <p>
        <md-input [(ngModel)]="user.email" name='email' class="full-width" placeholder=""
                  value=""></md-input>
      </p>
      <h4>Password</h4>
      <p>
        <md-input type="password" [(ngModel)]="user.password" name='password' class="full-width"
                  placeholder=""></md-input>
      </p>
      <h4>Repeat password</h4>
      <p>
        <md-input type="password" [(ngModel)]="user.repeatPassword" name='repeatPassword'
                  class="full-width" placeholder=""></md-input>
      </p>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td><h4>First name</h4>
            <md-input [(ngModel)]="user.firstName" name='firstName' placeholder=""
                      style="width: 100%"></md-input>
          </td>
          <td><h4>Last name</h4>
            <md-input [(ngModel)]="user.lastName" name='lastName' placeholder=""
                      style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <br><br>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td><h4>Postal code</h4>
            <md-input [(ngModel)]="user.postalCode" name='postalCode' placeholder="" style="width: 100%"></md-input>
          </td>
          <td><h4>Address</h4>
            <md-input [(ngModel)]="user.address" name='address' placeholder="" style="width: 100%"></md-input>
          </td>
          <td><h4>City</h4>
            <md-input [(ngModel)]="user.city" name='city' placeholder="" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <h4>Telephone</h4>
          <p>
            <md-input [(ngModel)]="user.phoneNumber" name='phoneNumber' class="full-width" placeholder=""
                      value=""></md-input>
          </p>
        </tr>
      </table>
      <h4>Date of birth</h4>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input [(ngModel)]="userBDay" name='userBDay' placeholder="dd" style="width: 100%"></md-input>
          </td>
          <td>
            <md-input [(ngModel)]="userBMonth" name='userBDay' placeholder="mm" style="width: 100%"></md-input>
          </td>
          <td>
            <md-input [(ngModel)]="userBYear" name='userBDay' placeholder="jjjj" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
    </form>
    <br><br>
    <div layout="row" layout-align="start center" flex>
      <span flex></span>
      <button (click)="register()" class="centered" md-raised-button color="primary">Register now</button>
    </div>
  </md-card-content>
</md-card>
