<md-card layout-align="center center" class="book-hotel-card basic">
  <md-toolbar color="accent">Registreren</md-toolbar>
  <md-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" novalidate>
      <h4>Email</h4>
      <md-input formControlName='email' class="full-width" placeholder=""></md-input>
      <h4>Wachtwoord</h4>
      <p>
        <md-input type="password" formControlName='password' class="full-width" placeholder=""></md-input>
      </p>
      <h4>Wachtwoord herhalen</h4>
      <p>
        <md-input type="password" formControlName='repeatPassword'
                  class="full-width" placeholder=""></md-input>
      </p>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td><h4>Voornaam</h4>
            <md-input placeholder="" formControlName='firstName'
                      style="width: 100%"></md-input>
          </td>
          <td><h4>Achternaam</h4>
            <md-input placeholder="" formControlName='lastName'
                      style="width: 100%"></md-input>
          </td>
        </tr>
        <h4>Geboorte datum</h4>
        <ng2-datepicker formControlName='birthDate'></ng2-datepicker>
      </table>
      <br><br>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <h4>Postcode</h4>
            <md-input placeholder="" formControlName='postalCode'
                      style="width: 100%"></md-input>
          </td>
          <td><h4>Adres</h4>
            <md-input placeholder="" formControlName='address' style="width: 100%"></md-input>
          </td>
          <td><h4>Stad</h4>
            <md-input placeholder="" formControlName='city' style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <h4>Telefoon nummer</h4>
          <md-input class="full-width" formControlName='phoneNumber'></md-input>
        </tr>
      </table>
      <div layout="row" layout-align="start center" flex>
        <span flex></span>
        <button type="submit" [disabled]="!registerForm.valid" class="centered" md-raised-button color="primary">
          Registreer nu
        </button>
      </div>
    </form>
  </md-card-content>
</md-card>
